{{!--
  Renders the sidebar navigation
  @param {object} $context$ the whole swagger definition
  @api public
--}}
<nav id="nav" role="navigation">
  <h5>Topics</h5>
  {{#unless info.x-spectacle-hide}}
    <a href="#introduction">Introduction</a>
  {{/unless}}

  {{#if securityDefinitions}}
   {{#unless securityDefinitions.x-spectacle-hide}}
     <a href="#authentication">Authentication</a>
   {{/unless}}
  {{/if}}

  {{#if x-spectacle-topics}}
    {{#each x-spectacle-topics}}
      <a href="#topic-{{htmlId @key}}">{{@key}}</a>
    {{/each}}
  {{/if}}

  {{#if showTagSummary}}
    <h5>Operations</h5>
    {{#each tags}}
      <section>
        <a href="#tag-{{htmlId name}}">{{name}}</a>
        <ul>
          {{#each operations}}
            <li>
              <a href="#operation-{{htmlId path}}-{{htmlId method}}">
                {{#if summary}}
                  {{summary}}
                {{else}}
                  {{toUpperCase method}} {{path}}
                {{/if}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/each}}
  {{else}}
    <h5>Paths</h5>
    {{#each paths}}
      <!-- <section>
        <a href="#path-{{htmlId @key}}">{{@key}}</a>
        <ul> -->
          {{#each .}}
            <!-- <li> -->
              <a href="#operation-{{htmlId path}}-{{htmlId method}}">
                {{#if summary}}
                  {{summary}}
                {{else}}
                  {{toUpperCase method}} {{path}}
                {{/if}}
              </a>
            <!-- </li> -->
          {{/each}}
        <!-- </ul>
      </section> -->
      {{#each .}}
        {{!swagger/operation . operation=. method=@key path=../path}}
      {{/each}}
    {{/each}}
  {{/if}}

  <h5>Schema Definitions</h5>
  {{#each definitions}}
    <a href="#definition-{{htmlId @key}}">
      {{@key}}
    </a>
  {{/each}}


<h5>Install SDKs</h5>

<a href="/csharp-client.asp" target="_blank">
      .NET Framework Client
    </a>

    <a href="/net-core-client.asp" target="_blank">
      .NET Core Client
    </a>

    <a href="/java-client.asp" target="_blank">
      Java Client
    </a>

    <a href="/nodejs-client.asp" target="_blank">
      Node.js Client
    </a>

    <a href="/python-client.asp" target="_blank">
      Python Client
    </a>

    <a href="/drupal8.asp" target="_blank">
      Drupal Client
    </a>

    <a href="/zapier.asp" target="_blank">
      Zapier Client
    </a>

<h5>Support</h5>

<a href="https://account.cloudmersive.com/contact-support" target="_blank">
      Contact Support
    </a>

  {{!-- <h5>API Products</h5>
  <a href="/docs/barcode.asp">
      Barcode
    </a>
    <a href="/docs/validate.asp">
      Data Validation
    </a>
    <a href="/docs/convert.asp">
      Document and Data Conversion
    </a>
    <a href="/docs/image.asp">
      Image Recognition and Processing
    </a>
    <a href="/docs/ocr.asp">
      Optical Character Recognition
    </a>
    <a href="/docs/nlp.asp">
      Natural Language Processing
    </a>
    <a href="/docs/virus.asp">
      Virus Scan
    </a> --}}


</nav>
